## for Local Build

# Mandatory Vars

NAME='Alya Ross'
## Name of receiver

PIC='https://i.imgur.com/d19Igve.jpeg'
## Name of image file

# Optional Vars -- Do not add these vars to your env if you dont want to use them

##NICKNAME='Alya Ross'
## A Nickname for more personalization

HBD_MSG='Happy Birthday'
## Custom HBD Greeting message

SCROLL_MSG='https://telegra.ph/Alya-Ross-03-13-2'
## Name of the Scroll Message txt file

##OPEN_DATE='2023-12-12'
## Active Date in YYYY-MM-DD format
